<!doctype html>
{% load static %}
<html lang="fr">
<head>
	<meta charset="utf-8">
	
	<title>Orontos</title>
	<meta name="description" content="Nuclear sensor data">
	<meta name="author" content="Darcosion">
	
	<link rel="stylesheet" href="{% static 'css/styles.css' %}" >
	<link rel="stylesheet" href="{% static 'css/leaflet.min.css' %}" >
</head>

<body>
	<h1>Orontos - map de visualisation de capteur de radioactivité & de données connexes</h1>
</body>
<script type="text/javascript" src="{% static 'js/leaflet.min.js' %}"></script>
</html>